<a href="https://colab.research.google.com/github/MichaelSumagui/Numerical-Method-58012/blob/main/Jan31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print (10>9)
print (10<9)
print (10==9)

True
False
False

In [ ]:
a = 10
b = 9

print (a>b)
print (a<b)
print (a==b)

True
False
False

Bool () Function

In [ ]:
print (bool(1))
print (bool(0))
print (bool("Michael"))
print (bool(None))
print (bool(0))

True
False
True
False
False

In [ ]:
def my_Function():
  return True

  if my_Function():
    print ("Yes")
  else:
    print ("No")

print (my_Function())

True

In [ ]:
print (10>9)

a=6
b=7

print (a==b)
print (a!=a)

True
False
False

In [ ]:
print (10+5)
print (10-5)
print (10*5)
print (10/5)
print (10%5)
print (10//5)
print (10**5)

15
5
50
2.0
0
2
100000

In [ ]:
print (2+5)
print (2-5)
print (2*5)
print (5/2)
print (5//2)
print (5**2)

7
-3
10
2.5
2
25

In [ ]:
a = 60
b = 13
print (a&b)
print (a|b)
print (a^b)

12
61
49

In [ ]:
a += 3 
print (a)

63

In [ ]:
x = True
y = False

print (x and y)
print (x or y)
not (print(x and y))

False
True
False

True

In [ ]:
print (x is y)
print (x is x)

print (x is not y)

False
True
True

If

In [2]:
a = 12
b = 100

if b > a:
    print ("b is greater than a")

b is greater than a

Elif

In [5]:
a = 100
b = 10

if b > a:
  print ("b is greater than a")
elif b == a:
  print ("a and b are equal")

Else

In [6]:
if b > a:
  print ("b is greater than a")
elif b == a:
  print ("a and b are equal")
else:
  print ("a is greater than b")

a is greater than b

Short hand if statement

In [7]:
if a > b: print ("a is greater than b")

a is greater than b

Short hand if else

In [8]:
print ("b is greater than a") if b > a else print ("a is greater than b")

a is greater than b

And if both conditions are true

In [9]:
a = 100
b = 10
c = 45

if a > b and c > b:
  print ("both conditions are true")

both conditions are true

Or if both conditions is true

In [10]:
if a > b or b > c:
  print ("one condition is true")

one condition is true

Nested if

In [17]:
x = int(input())

if x > 10:
  print ("x is above 10")
  if x > 20:
    print ("x is above 20")
    if x > 30:
      print ("x is above 30")
      if x > 40:
        print ("x is above 40")
        if x > 50:
          print ("x is above 50")
        else:
          print ("x is below 50")
else:
  print ("x is below 19")

60
x is above 10
x is above 20
x is above 30
x is above 40
x is above 50

Application 1

In [21]:
age = int(input())

if age >= 18:
  print ("you are qualified to vote")
else:
  print ("you are not qualified to vote")

19
you are qualified to vote

Application 2

In [25]:
x = int(input())

if x > 0:
  print ("x is a positive number")
elif x == 0:
  print ("x is zero")
else:
  print ("x is a negative number")

-9
x is a negative number

Application 3

In [69]:
grade = int(input())

if grade >= 70:
  print ("passed")
elif grade >= 64 and grade < 69:
    print ("remedial")
else:
  print ("failed")

60
failed

For loop

In [41]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break statement

In [46]:
for x in week:
  print (x)
  if x == "Friday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday

Looping through a string

In [51]:
for x in "Week":
  print (x)

W
e
e
k

Range() function

In [57]:
for x in range(6):
  print (x)

0
1
2
3
4
5

In [59]:
for x in range(2,6):
  print (x)

2
3
4
5

While loop

In [63]:
i = 1
while i < 6:
  print (i)
  i +=1

1
2
3
4
5

The break statement

In [64]:
i = 1
while i < 6:
  print (i)
  if i == 3:
    break
  i +=1

1
2
3

The continue statement

In [73]:
i = 1

while i < 6:
  i += 1
  if i == 3:
    continue
  print (i)

2
4
5
6