<a href="https://colab.research.google.com/github/MichaelSumagui/Numerical-Method-58012/blob/main/Jan31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print (10>9)
print (10<9)
print (10==9)

True
False
False

In [ ]:
a = 10
b = 9

print (a>b)
print (a<b)
print (a==b)

True
False
False

Bool () Function

In [ ]:
print (bool(1))
print (bool(0))
print (bool("Michael"))
print (bool(None))
print (bool(0))

True
False
True
False
False

In [ ]:
def my_Function():
  return True

  if my_Function():
    print ("Yes")
  else:
    print ("No")

print (my_Function())

True

In [ ]:
print (10>9)

a=6
b=7

print (a==b)
print (a!=a)

True
False
False

In [ ]:
print (10+5)
print (10-5)
print (10*5)
print (10/5)
print (10%5)
print (10//5)
print (10**5)

15
5
50
2.0
0
2
100000

In [1]:
print (2+5)
print (2-5)
print (2*5)
print (5/2)
print (5//2)
print (5**2)

7
-3
10
2.5
2
25

In [6]:
a = 60
b = 13
print (a&b)
print (a|b)
print (a^b)

12
61
49

In [3]:
a += 3 
print (a)

63

In [4]:
x = True
y = False

print (x and y)
print (x or y)
not (print(x and y))

False
True
False

True

In [5]:
print (x is y)
print (x is x)

print (x is not y)

False
True
True