<a href="https://colab.research.google.com/github/MichaelSumagui/Numerical-Method-58012/blob/main/Jan31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print (10>9)
print (10<9)
print (10==9)

True
False
False

In [2]:
a = 10
b = 9

print (a>b)
print (a<b)
print (a==b)

True
False
False

Bool () Function

In [4]:
print (bool(1))
print (bool(0))
print (bool("Michael"))
print (bool(None))
print (bool(0))

True
False
True
False
False

In [6]:
def my_Function():
  return True

  if my_Function():
    print ("Yes")
  else:
    print ("No")

print (my_Function())

True

In [7]:
print (10>9)

a=6
b=7

print (a==b)
print (a!=a)

True
False
False

In [9]:
print (10+5)
print (10-5)
print (10*5)
print (10/5)
print (10%5)
print (10//5)
print (10**5)

15
5
50
2.0
0
2
100000